################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Testing/FileContentIndex/6dc60e8a-03dd-488a-8426-d32303d489b5.vsidx
*.vsidx
/.vs/slnx.sqlite
